.lavado-hero{
position:relative;
height:100vh;

background:
url('https://us.123rf.com/450wm/netdrimeny/netdrimeny2209/netdrimeny220900048/192234649-primer-plano-de-la-rueda-sucia-de-la-bicicleta-de-motocross-en-el-barro.jpg?ver=6')
center/cover;

display:flex;
justify-content:center;
align-items:center;
}

.cta{
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1200')
center/cover;
}