.prep-hero{
position:relative;
height:100vh;

background:
url('https://www.moto1pro.com/sites/default/files/hard_enduro1.jpg')
center/cover;

display:flex;
justify-content:center;
align-items:center;
}

.cta{
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url('https://images.unsplash.com/photo-1558981806-ec527fa84c39?q=80&w=1200')
center/cover;
}